<main>
  <div class="find">
    <tgt-button [size]="'small'" [border]="false" [color]="'primary'" [fieldButton]="'outline'"
      [icon]="'edit'" (click)="editar()">Editar</tgt-button>
  </div>


  <section class="desktop">
    <div class="esquerda">
      <div class="content-esquerda">
        <span>Nome Colaborador</span>
        <span>Maria Silva</span>
      </div>
      <div class="content-esquerda">
        <span>E-mail</span>
        <span>mariasilvaayrtonsenna.gov</span>
      </div>
      <div class="content-esquerda">
        <span>CPF</span>
        <span>123.456.789-89</span>
      </div>


    </div>
    <div class="direita">
      <div class="content-direita">
        <span>Celular</span>
        <span>(11) 98765-4321</span>
      </div>
      <div class="content-direita">
        <span>Cargo</span>
        <span>Professor(a)</span>
      </div>
      <div class="content-direita">
        <span>Matéria</span>
        <span>Português</span>
      </div>
    </div>
  </section>

</main>
