<tgt-modal [witdhModal]="'auto'">
  <main>
    <div class="header">
      <h3>Informações do Aluno</h3>
      <span class="material-symbols-outlined" (click)="voltar()">
        close
      </span>
    </div>
    <!-- <tgt-divider></tgt-divider> -->
    <div class="infos">

      <div class="info">
        <span>Nome do Aluno</span>
        <p>Lucas Costa</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Data de Nascimento</span>
        <p>23/10/2024</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Gênero</span>
        <p>Masculino</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Alergias</span>
        <p>-</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Medicação necessária</span>
        <p>-</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Condições médicas relevantes</span>
        <p>-</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Nome do Responsável</span>
        <p>Sergio Costa</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>E-mail do Responsável</span>
        <p>sergiocostagmail.com</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Endereço</span>
        <p>Av. Vicente Machado</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Número</span>
        <p>55</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Complemento</span>
        <p>Casa</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Bairro</span>
        <p>Boa Vista</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Cidade</span>
        <p>São Paulo</p>
      </div>
      <tgt-divider></tgt-divider>

      <div class="info">
        <span>Estado</span>
        <p>São Paulo</p>
      </div>
      <tgt-divider></tgt-divider>

    </div>
  </main>
</tgt-modal>
