main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  width: 100%;

  span {
    width: 65px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    color: #181D17;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

  }

  .camera-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btns {
    display: flex;
    gap: 8px;
    width: 100%;

    tgt-button {
      width: 100%;
    }
  }

  .imagens {
    width: 100%;
    height: 700px;
    overflow: auto;

    img {
      padding: 0px 0px 10px 0px;
    }

    // padding: 24px 0px;
  }
}
