<main>
  <div class="aluno-find">
    <tgt-button [size]="'small'" [border]="false" [color]="'primary'" [fieldButton]="'field'" [icon]="'add'"
      (click)="adicionarConteudo()">Adicionar Conteúdo</tgt-button>
    <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"
      [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>
  </div>

  <section class="desktop">
    <tgt-list>
      <div header class="header-list">
        <tgt-header-list>
          <tgt-header-col>Assunto</tgt-header-col>
          <tgt-header-col>Matéria</tgt-header-col>
          <tgt-header-col>Descrição</tgt-header-col>
          <tgt-header-col>Conteúdo</tgt-header-col>
          <tgt-header-col></tgt-header-col>
        </tgt-header-list>
      </div>
      <div body class="body">
        <!-- @for (item of alunos; track item) { -->
        <tgt-item-list>
          <tgt-item-data>Descoberta do Brasil</tgt-item-data>
          <tgt-item-data>História</tgt-item-data>
          <tgt-item-data>Arquivo sobre a descoberta do Brasil...</tgt-item-data>
          <tgt-item-data>nome_arquivo.extensão</tgt-item-data>
          <tgt-item-data>
            <span class="material-symbols-outlined icone" (click)="verConteudo()">search</span>
          </tgt-item-data>
        </tgt-item-list>
        <!-- } -->
      </div>
    </tgt-list>
  </section>
  <section class="mobile">
    <!-- @for (item of alunos; track item) { -->
    <div class="cards">
      <div class="title">Descoberta do Brasil</div>
      <div class="content">
        <div class="infos">
          <span>História</span>
          <span>nome_arquivo.extensão</span>
        </div>
        <div class="actions">
          <span class="material-symbols-outlined icone" (click)="verConteudo()">arrow_forward</span>
        </div>
      </div>
    </div>
    <!-- } -->
  </section>
</main>
