<main>
  <div class="find">
    <tgt-button [size]="'small'" [border]="false" [color]="'primary'" [fieldButton]="'outline'" [icon]="'edit'"
      (click)="editar()">Editar</tgt-button>
  </div>


  <section class="desktop">
    <div class="esquerda">
      <div class="content-esquerda">
        <span>Nome</span>
        <span>8° Ano - Turma B</span>
      </div>
      <div class="content-esquerda">
        <span>Série</span>
        <span>8º ano</span>
      </div>
    </div>
    <div class="direita">
      <div class="content-direita">
        <span>Turno</span>
        <span>Manhã</span>
      </div>
      <div class="content-direita">
        <span>Ano Letivo</span>
        <span>2024</span>
      </div>

    </div>
  </section>

</main>
