<main>
  <section class="header">
    <div class="card">
      <img src="../../../../../../../../../../assets/images/dashboard-aluno-01.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../../../../assets/images/dashboard-aluno-02.png" alt="" srcset="">
    </div>
  </section>
  <br>
  <section class="header">
    <div class="card">
      <img src="../../../../../../../../../../assets/images/dashboard-aluno-03.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../../../../assets/images/dashboard-aluno-04.png" alt="" srcset="">
    </div>
  </section>
</main>
