<main>
  <div class="header">
    <div class="esquerdo">
      <span class="material-symbols-outlined icone" (click)="back()">arrow_back</span>
      <h3>8° Ano - Turma B</h3>
    </div>
    <div class="direito">
      <tgt-button [color]="'primary'" [icon]="'done_all'" (click)="realizarChamada()">Realizar chamada</tgt-button>
      <span class="material-symbols-outlined icone" (click)="showHideDetail()">more_vert</span>
      @if(isDetail) {

      <div class="user-detail">
        <div class="item" (click)="excluirTurma()">
          <span class="material-symbols-outlined">
            delete
          </span>
          <span class="label">Excluir Turma</span>
        </div>
        <div class="item" (click)="informacoesTurma()">
          <span class="material-symbols-outlined">
            info
          </span>
          <span class="label">Informações da Turma</span>
        </div>
        <div class="item" (click)="editarTurma()">
          <span class="material-symbols-outlined">
            edit
          </span>
          <span class="label">Editar Turma</span>
        </div>
      </div>
      }
    </div>
  </div>

  <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>

  <section>

    @switch (opcaoTabSelecionada) {
      @case ('chamadas') {
        <listar-chamadas></listar-chamadas>
      }
      @case ('alunos') {
        <listar-alunos></listar-alunos>
      }
      @case ('professores') {
        <listar-professores></listar-professores>
      }
    }

    <div class="isMobile">
      <tgt-button [color]="'primary'" [icon]="'done_all'" (click)="realizarChamada()">Realizar chamada</tgt-button>
    </div>
  </section>

</main>
