main {
  // padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  overflow: auto;

  .content {
    width: 100%;

    .title {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: start;
    }

    .chips {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 18px 0px;

      // tgt-stepper {
      //   width: 90%;
      // }
    }

    .form {
      // height: 80%;
      width: 100%;
      max-height: 600px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 12px;
      // padding: 160px 0px 0px 0px;

      .adicionar-responsavel {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #39693B;
        cursor: pointer;

        p {
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.10000000149011612px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
      }

      .segundo-responsavel {
        display: flex;
        flex-direction: row;
        align-items: start;
        width: 100%;
        height: 100%;

        .esquerda {
          width: 10%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 12px;

          p {
            border-radius: 50%;
            padding: 10px;
            font-size: 18px;
            background-color: #DEE5D9;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
          }

          .delete {
            cursor: pointer;
            color: crimson;
          }
        }

        .direita {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }

      .infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;

        tgt-input-icon,
        tgt-select {
          width: 100%;
        }

      }

      .carregar-imagem {
        padding: 12px;
        gap: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px dashed #39693B;
        color: #39693B;
        cursor: pointer;

        p {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.15000000596046448px;
          text-align: left;

        }

      }


    }

    .ficha-medica {
      width: 100%;
      max-height: 600px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 12px;

      span {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

      }

      .infos {
        display: flex;
        justify-content: space-between;
        gap: 12px;


        tgt-input-icon {
          width: 100%;
        }
      }

      .checkbox {
        padding: 12px;
        display: flex;
        gap: 32px;
      }
    }

    .selfie {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;

      span {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #000000;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.25px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        .card-content {

          // min-width: 200px;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 24px;
          gap: 16px;
          border-radius: 16px;
          opacity: 0px;
          background-color: #F7FBF2;


          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.15000000596046448px;
            text-align: left;

            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }



          .btn-selfies {
            // padding: 1px 0px;
            border-radius: 16px;
            border: 1px dashed #39693B;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 16px;
            gap: 12px;

            tgt-button {
              width: 100%;
            }

          }
        }
      }

      .card-footer {

        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0px 24px;

        span {
          //styleName: M3/body/large;
          font-family: var(--BodyLargeFont);
          font-size: var(--BodyLargeSize);
          font-weight: 700;
          line-height: var(--BodyLargeLineHeight);
          letter-spacing: var(--BodyLargeTracking);
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        li {
          //styleName: M3/body/large;
          font-family: var(--BodyLargeFont);
          font-size: var(--BodyLargeSize);
          // font-weight: 700;
          line-height: var(--BodyLargeLineHeight);
          letter-spacing: var(--BodyLargeTracking);
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
      }

      // align-items: ;
    }

  }

  .actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 12px;
  }
}

// Media queries para ajustar conforme a largura da tela
@media (max-width: 1000px) {
  main {
    height: 100%;

    .title {
      width: 100%;
    }

    .form {
      height: 100%;
      width: 100%;
      overflow: auto;

      .infos {
        flex-direction: column !important;
      }

      .segundo-responsavel {
        display: flex;
        flex-direction: row;
        align-items: start;
        width: 100%;
        height: 100%;

        .esquerda {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 12px;

          p {
            border-radius: 50%;
            padding: 10px;
            font-size: 18px;
            background-color: #DEE5D9;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
          }

          .delete {
            cursor: pointer;
            color: crimson;
          }
        }

        .direita {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }

    .ficha-medica {
      .infos {
        flex-direction: column;
      }

      .checkbox {
        flex-direction: column;
      }
    }

    .selfie {
      .cards {
        flex-direction: column !important;
      }
    }

    .actions {
      width: 100%;
      justify-content: center;

      tgt-button {
        width: 100%;
      }
    }

  }
}
