<main>
  <span>
    Reconhecimento
  </span>
  <div class="card">
    <img src="../../../../../../../assets/images/frame_1.png" alt="">
    <!-- <div class="infos"> -->
      <div class="esquerda">
        <span>Nome</span>
        <span>Turma</span>
      </div>
      <div class="direita">
        <span>Luana Silva</span>
        <span>8° Ano - Turma B</span>
      </div>
    </div>
  <!-- </div> -->
  <div class="card">
    <img src="../../../../../../../assets/images/frame_2.png" alt="">
    <!-- <div class="infos"> -->
      <div class="esquerda">
        <span>Nome</span>
        <span>Turma</span>
      </div>
      <div class="direita">
        <span>Lucas Costa</span>
        <span>8° Ano - Turma B</span>
      </div>
    </div>
  <!-- </div> -->
  <div class="card">
    <img src="../../../../../../../assets/images/frame_3.png" alt="">
    <!-- <div class="infos"> -->
      <div class="esquerda">
        <span>Nome</span>
        <span>Turma</span>
      </div>
      <div class="direita">
        <span>João da Silca</span>
        <span>8° Ano - Turma B</span>
      </div>
    </div>
  <!-- </div> -->
  <div class="card">
    <img src="../../../../../../../assets/images/frame_4.png" alt="">
    <!-- <div class="infos"> -->
      <div class="esquerda">
        <span>Nome</span>
        <span>Turma</span>
      </div>
      <div class="direita">
        <span>Maria Aparecida</span>
        <span>8° Ano - Turma B</span>
      </div>
    </div>
  <!-- </div> -->
  <div class="card">
    <img src="../../../../../../../assets/images/frame_5.png" alt="">
    <!-- <div class="infos"> -->
      <div class="esquerda">
        <span>Nome</span>
        <span>Turma</span>
      </div>
      <div class="direita">
        <span>José de Alencar</span>
        <span>8° Ano - Turma B</span>
      </div>
    </div>

</main>
