<tgt-modal [witdhModal]="'auto'">
  <main>
    <h3>Lançar Merito</h3>
    <tgt-divider></tgt-divider>
    <div class="form">
      <tgt-input-icon [border]="true" placeholder="Tipo Mérito*" [type]="'text'" [iconPosition]="'right'" [control]="form.controls.tipoMerito"></tgt-input-icon>
      <tgt-textarea [placeholder]="'Descrição'" [control]="form.controls.descricao"></tgt-textarea>
    </div>
    <div class="action">
      <tgt-button [border]="false" [color]="'primary'" [size]="'small'" [fieldButton]="'outline'" (click)="cadastrar()">Cancelar</tgt-button>
      <tgt-button [color]="'primary'" [fieldButton]="'field'" [icon]="'add'" (click)="cadastrar()">Cadastrar</tgt-button>
    </div>
  </main>
</tgt-modal>
