<tgt-modal [witdhModal]="'80%'">
  <main>
    <div class="header">
      <div class="title">
        <h3>Advertência</h3>
      </div>
      <div class="actions">
        <span class="material-symbols-outlined">
          download
        </span>
        <p>Download</p>
        <span class="material-symbols-outlined" (click)="editarNota()">
          edit
        </span>
        <p (click)="editarNota()">Editar</p>
      </div>

    </div>

    <div class="table">
      <table>
        <!-- Cabeçalho da Tabela -->
        <thead border="1" cellspacing="0" cellpadding="10">
          <tr>
            <th>
              Assunto
            </th>
            <th>
              Descrição
            </th>
            <th>
              Colaborador
            </th>
            <th>
              Data
            </th>
          </tr>
        </thead>

        <!-- Corpo da Tabela -->
        <tbody>
          <tr>
            <td>
              Frequência
            </td>
            <td>
              O aluno tem faltado muito, o que pode afetar o desempenho dele...
            </td>
            <td>
              [Nome do Colaborador]
            </td>
            <td>
              29/04/2024 10:30
            </td>
          </tr>

        </tbody>
      </table>

    </div>
    <div class="footer">
      <tgt-button (click)="fechar()" [border]="false" [color]="'primary'" [size]="'small'"
        [fieldButton]="'outline'">Fechar</tgt-button>
      <!-- <tgt-button [color]="'primary'" [fieldButton]="'field'" [icon]="'done_all'" (click)="finalizarChamada()">Finalizar Chamada</tgt-button> -->
    </div>
  </main>
</tgt-modal>
