<main>
  <table class="custom-table">
    <thead>
      <tr class="linha-superior">
        <th></th>
        <th>1º Bimestre </th>
        <th>2º Bimestre </th>
        <th>3º Bimestre </th>
        <th>4º Bimestre </th>
        <th>Total</th>
        <th></th>
      </tr>
      <tr>
        <th>Matéria</th>
        <th>
          <div class="presenca-falta">
            <span>Presença</span>
            <span>Falta</span>
          </div>
        </th>
        <th>
          <div class="presenca-falta">
            <span>Presença</span>
            <span>Falta</span>
          </div>
        </th>
        <th>
          <div class="presenca-falta">
            <span>Presença</span>
            <span>Falta</span>
          </div>
        </th>
        <th>
          <div class="presenca-falta">
            <span>Presença</span>
            <span>Falta</span>
          </div>
        </th>
        <!-- <th>% de Faltas</th> -->
        <th>
          <div class="presenca-falta">
            <span>Presença</span>
            <span>Falta</span>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nome da Matéria</td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>Nome da Matéria</td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span style="color:#BA1A1A">3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>Nome da Matéria</td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span style="color:#BA1A1A">3</span>
          </div>
        </td>
        <td>
          <div class="presenca-falta">
            <span>3</span>
            <span>3</span>
          </div>
        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</main>
