<main>
  <section>

    <div class="perfil">
      <div class="icon-perfil">
        <tgt-perfil></tgt-perfil>
        <span>{{user.firstName + ' ' + user.lastName}}</span>
      </div>
      <tgt-button (click)="abrirModalAlterarDados()" [icon]="'edit'" [border]="false" [fieldButton]="'outline'" [color]="'secundary'">Editar</tgt-button>
    </div>

    <div class="info">
      <span>
        Email
      </span>
      <p>{{user.email}}</p>
    </div>
    <tgt-divider></tgt-divider>
    <div class="info">
      <span>
        CPF
      </span>
      <p>trazer o cpf</p>
    </div>
    <tgt-divider></tgt-divider>
    <div class="info">
      <span>
        Celular
      </span>
      <p>trazer o celular</p>
    </div>

    <div class="alterarSenha">
      <tgt-button (click)="abrirModalAlterarSenha()" [icon]="'edit'" [border]="false" [fieldButton]="'outline'" [color]="'secundary'">Alterar Senha</tgt-button>
    </div>

  </section>
</main>
