<main>
  <div class="find">
    <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"
      [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>
  </div>
  <section class="desktop">
    <tgt-list>
      <div header class="header-list">
        <tgt-header-list>
          <tgt-header-col>Turma</tgt-header-col>
          <tgt-header-col>Série</tgt-header-col>
          <tgt-header-col>Turno</tgt-header-col>
          <tgt-header-col>Ano Letivo</tgt-header-col>
          <tgt-header-col>Data de Vinculação</tgt-header-col>
          <tgt-header-col>Data de Desvinculação</tgt-header-col>
          <tgt-header-col></tgt-header-col>
        </tgt-header-list>
      </div>
      <div body class="body">
        @for (item of data; track item) {
        <tgt-item-list>
          <tgt-item-data>{{ item.nome }}</tgt-item-data>
          <tgt-item-data>{{ item.serie }}</tgt-item-data>
          <tgt-item-data>{{ item.periodo }}</tgt-item-data>
          <tgt-item-data>{{ item.anoLetivo }}</tgt-item-data>
          <tgt-item-data>10/10/2024</tgt-item-data>
          <tgt-item-data> - - </tgt-item-data>
          <tgt-item-data>
            <span class="material-symbols-outlined icone">arrow_forward</span>
          </tgt-item-data>
        </tgt-item-list>
        }
      </div>
    </tgt-list>
  </section>
  <section class="mobile">
    @for (item of data; track item) {
    <div class="cards">
      <div class="title">{{item.nome}}</div>
      <div class="content">
        <div class="infos">
          <span>{{item.periodo}}</span>
        </div>
        <div class="actions">
          <span class="material-symbols-outlined icone">arrow_forward</span>
        </div>
      </div>
    </div>
    }
  </section>
</main>
