
  <main>
    <app-calendar></app-calendar>
<!--    <div class="content">-->
<!--      <div class="header">-->
<!--        <tgt-button (click)="criarEvento()" [icon]="'add'" [size]="'small'">Criar Evento</tgt-button>-->
<!--        <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'add'" [backGround]="'#EEF2E9'"-->
<!--          [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>-->
<!--      </div>-->
<!--      <section class="desktop">-->
<!--        <tgt-list>-->
<!--          <div header class="header-list">-->
<!--            <tgt-header-list>-->
<!--              <tgt-header-col>Assunto</tgt-header-col>-->
<!--              <tgt-header-col>Descrição</tgt-header-col>-->
<!--              <tgt-header-col>Data/Hora</tgt-header-col>-->
<!--              <tgt-header-col>Status</tgt-header-col>-->
<!--              <tgt-header-col></tgt-header-col>-->
<!--            </tgt-header-list>-->
<!--          </div>-->
<!--          <div body class="body">-->
<!--            &lt;!&ndash; @for (item of data; track item) { &ndash;&gt;-->
<!--            <tgt-item-list>-->
<!--              <tgt-item-data>Férias Escolares</tgt-item-data>-->
<!--              <tgt-item-data>Prezados Pais e Responsáveis, Informamos que ...</tgt-item-data>-->
<!--              <tgt-item-data>20/12/2024 12:00</tgt-item-data>-->
<!--              <tgt-item-data>Agendado</tgt-item-data>-->
<!--              <tgt-item-data>-->
<!--                <span class="material-symbols-outlined icone" (click)="verEvento()">search</span>-->
<!--              </tgt-item-data>-->
<!--            </tgt-item-list>-->
<!--            &lt;!&ndash; } &ndash;&gt;-->
<!--          </div>-->
<!--        </tgt-list>-->
<!--      </section>-->
<!--      <section class="mobile">-->

<!--        &lt;!&ndash; @for (item of data; track item) { &ndash;&gt;-->
<!--        <div class="cards">-->
<!--          <div class="title">Férias Escolares</div>-->
<!--          <div class="content">-->
<!--            <span>20/12/2024 12:00</span>-->
<!--            <span>Agendado</span>-->
<!--            <span class="material-symbols-outlined icone" (click)="verEvento()">arrow_forward</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; } &ndash;&gt;-->
<!--      </section>-->
<!--    </div>-->
<!--    <div class="action">-->
<!--      <tgt-button (click)="criarEvento()" [icon]="'add'" [size]="'small'">Criar Evento</tgt-button>-->
<!--    </div>-->
  </main>
  <!-- <div class="pag-footer">
      <div class="pag">
        <tgt-paginator [pageSize]="5" [currentPage]="1" [totalItems]="11"
          (changePage)="changePage($event)"></tgt-paginator>
      </div>
    </div> -->
