<tgt-modal [witdhModal]="'90%'">



  <main>
    <div class="header">
      <div class="infos">
        <h3>[Nome do Aluno]</h3>
        <span class="material-symbols-outlined icon" (click)="finalizarChamada()">
          close
        </span>
      </div>
    </div>

    <table class="custom-table">
      <thead>
        <tr class="linha-superior">
          <th></th>
          <th>1º Bimestre </th>
          <th>2º Bimestre </th>
          <th>3º Bimestre </th>
          <th>4º Bimestre </th>
          <th>Total</th>
          <th></th>
        </tr>
        <tr>
          <th>Matéria</th>
          <th>
            <div class="presenca-falta">
              <span>Presença</span>
              <span>Falta</span>
            </div>
          </th>
          <th>
            <div class="presenca-falta">
              <span>Presença</span>
              <span>Falta</span>
            </div>
          </th>
          <th>
            <div class="presenca-falta">
              <span>Presença</span>
              <span>Falta</span>
            </div>
          </th>
          <th>
            <div class="presenca-falta">
              <span>Presença</span>
              <span>Falta</span>
            </div>
          </th>
          <!-- <th>% de Faltas</th> -->
          <th>
            <div class="presenca-falta">
              <span>Presença</span>
              <span>Falta</span>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nome da Matéria</td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>Nome da Matéria</td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span style="color:#BA1A1A">3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>Nome da Matéria</td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span style="color:#BA1A1A">3</span>
            </div>
          </td>
          <td>
            <div class="presenca-falta">
              <span>3</span>
              <span>3</span>
            </div>
          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>

    <div class="footer">
      <span>% de faltas: 0%</span>
    </div>

  </main>
</tgt-modal>
