@import '../../../../../assets/styles/space.scss';
@import '../../../../../assets/styles/colors.scss';

main {
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 80vh;
  overflow: auto;
  justify-content: center;
  align-items: center;

  .card-superior,
  .card-inferior {
    width: 70%;
  }

  .card-superior {
    height: 260px;
    padding: 34px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;
    box-sizing: border-box;
    color: #000;
    h3 {
      font-size: 18px;
      font-weight: 800;
    }
  }

  .card-inferior {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;

    .cards {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(33.333% - 20px);
      padding: 18px;
      border-radius: 16px;
      background-color: $color-off-white;
      box-sizing: border-box;

      .card-header {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .title {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24.38px;
        text-align: left;
      }

      .card-footer {
        // margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1000px) {
    main {
      padding: 20px 0px;
      width: 100%;
      height: 100%;
      .card-superior {
        width: 90%;
        height: 50%;
      }

      .card-inferior {
        display: flex;
        flex-direction: column;
        width: 90%;

        .cards {
          width: 100%;
        }
      }
    }
}
