<main>

  <div class="card-superior">
    <h3>Precisa de ajuda?</h3>
    <br>
    <label>Aqui você encontra todas as informações que você precisa para <br>
      utilizar a plataforma com a máxima eficiência.</label>
  </div>

  <div class="card-inferior">
    <div class="cards"  [routerLink]="'/admin/turmas'">
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          meeting_room
        </span>
        <span class="title">
          <h3>Turmas</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/turmas'" [icon]="'trending_flat'" [iconPosition]="'left'" [size]="'small'" [color]="'success'"></tgt-button>
        </div>
      </div>
    </div>

    <div class="cards"  [routerLink]="'/admin/colaboradores'">
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          badge
        </span>
        <span class="title">
          <h3>Colaboradores</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/colaboradores'" icon="trending_flat" iconPosition="left" size="small" color="success"></tgt-button>
        </div>
      </div>
    </div>


    <div class="cards"  [routerLink]="'/admin/alunos'"v>
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          school
        </span>
        <span class="title">
          <h3>Alunos</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/alunos'" icon="trending_flat" iconPosition="left" size="small" color="success"
            [routerLink]="'/admin/dashboard'"></tgt-button>
        </div>
      </div>
    </div>

    <div class="cards" [routerLink]="'/admin/central'" >
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          nest_cam_wired_stand
        </span>
        <span class="title">
          <h3>Central</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/central'" icon="trending_flat" iconPosition="left" size="small" color="success"
            [routerLink]="'/admin/dashboard'"></tgt-button>
        </div>
      </div>
    </div>

  </div>
</main>
