main {

  .chips-materias {
    display: flex;
    flex-wrap: wrap; // Permite quebra de linha
    gap: 12px; // Espaço entre chips
    align-items: center; // Alinhamento vertical dos chips
    max-width: 100%; // Respeita o tamanho do pai
    overflow: hidden; // Evita rolagem horizontal
  }

  .aluno-find {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0px;

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 12px;
      width: 35%;

      .progress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        .infos {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          span {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15000000596046448px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }

        .line-progress {

          display: flex;
          flex-direction: row;
          width: 100%;

          //  background-color: #00E554;
          .line-1 {
            width: 40%;
            border-bottom: 2px solid #00E554;
          }

          .line-2 {
            width: 80%;
            border-bottom: 2px solid #C2C9BD;
          }
        }
      }
    }

    tgt-input-icon {
      width: 500px;
    }
  }

  .mobile {
    display: none;
  }

}

@media (max-width: 1000px) {
  main {
    .aluno-find {
      tgt-input-icon {
        width: auto;
      }
      flex-direction: column-reverse;
      gap: 12px;

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: auto;

        tgt-select {
          width: 100%;
        }
      }
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
      max-height: 450px;
      overflow: auto;

      .cards {
        display: flex;
        flex-direction: column;
        padding: 24px;
        border-radius: 16px;
        margin: 12px 0px;
        gap: 12px;
        background-color: #F7FBF2;

        .title {
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #181D17;
        }

        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .icone {
            padding: 12px;
            background-color: #E0E4DB;
            border-radius: 50%;
          }

          .infos {
            display: flex;
            flex-direction: column;
            gap: 12px;

            span {
              font-size: 12px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.5px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

            }
          }

          .actions {
            display: flex;
            flex-direction: row;
            gap: 12px;

            span {
              color: #101F10;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
