<main>
<!--  <div class="find">-->
<!--    <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"-->
<!--    [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>-->
<!--  </div>-->
<!--  <section class="desktop">-->
<!--    <tgt-list>-->
<!--      <div header class="header-list">-->
<!--        <tgt-header-list>-->
<!--          <tgt-header-col>Escola de Origem</tgt-header-col>-->
<!--          <tgt-header-col>Data da transferência</tgt-header-col>-->
<!--          <tgt-header-col>Motivo</tgt-header-col>-->
<!--          <tgt-header-col></tgt-header-col>-->
<!--        </tgt-header-list>-->
<!--      </div>-->
<!--      <div body class="body">-->
<!--        @for (item of historico; track item) {-->
<!--        <tgt-item-list>-->
<!--          <tgt-item-data>{{ item.escola_origem }}</tgt-item-data>-->
<!--          <tgt-item-data>{{ item.data_transferencia }}</tgt-item-data>-->
<!--          <tgt-item-data>{{ item.motivo }}</tgt-item-data>-->
<!--          <tgt-item-data>-->
<!--            <span class="material-symbols-outlined icone" (click)="verHistorico()">search</span>-->
<!--          </tgt-item-data>-->
<!--        </tgt-item-list>-->
<!--        }-->
<!--      </div>-->
<!--    </tgt-list>-->
<!--  </section>-->
<!--  <section class="mobile">-->
<!--    @for (item of historico; track item) {-->
<!--    <div class="cards">-->
<!--      <div class="title">{{item.escola_origem}}</div>-->
<!--      <div class="content">-->
<!--        <div class="infos">-->
<!--          <span>{{item.data_transferencia}}</span>-->
<!--          &lt;!&ndash; <span>{{item.data}}</span> &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="actions">-->
<!--          <span class="material-symbols-outlined icone" (click)="verHistorico()">arrow_forward</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    }-->
<!--  </section>-->
<!--  <grid-editable [labelButton]="'+ Adicionar Prova'"></grid-editable>-->
  <app-calendar></app-calendar>
</main>
