main {

  height: 100%;
  width: 100%;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 12px;


    tgt-input-icon {
      width: 40%;
    }
  }

  .content {
    height: 90%;
    .mobile {
      display: none;
    }
  }

  .icone {
    cursor: pointer;
  }

  .pag-footer {
    background-color: aqua;
    padding-right: 200px;
    position: absolute;
    bottom: 20px;
    right: 70px;
  }

  .action {
    display: none;
  }

  .empty {
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    span {
      color: #181D17;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15000000596046448px;
      text-align: center;
    }

    p {
      color: #181D17;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      text-align: center;

    }
  }

}

// Media queries para ajustar conforme a largura da tela
@media (max-width: 1000px) {

  main {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;

    .header {
      width: auto;

      tgt-button {
        display: none;
      }

      tgt-input-icon {
        width: 100%;
        height: 100%;
      }
    }

    .content {

      .desktop {
        display: none;
      }



      .mobile {
        display: block;
        max-height: 90%;
        overflow: auto;

        .cards {
          display: flex;
          flex-direction: column;
          padding: 24px;
          border-radius: 16px;
          margin: 12px 0px;
          gap: 12px;
          background-color: #F7FBF2;

          .title {
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #181D17;
          }

          .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .icone {
              padding: 12px;
              background-color: #E0E4DB;
              border-radius: 50%;
            }

            .infos {
              display: flex;
              flex-direction: column;
              gap: 12px;

              span {
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

              }
            }

            .actions {
              display: flex;
              flex-direction: row;
              gap: 12px;

              span {
                color: #101F10;
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    .action {
      display: block;
    }
  }


}
