<tgt-modal [witdhModal]="'auto'">
  <main>
    <div class="header">
      <h3>Informações do Colaborador</h3>
      <span class="material-symbols-outlined" (click)="voltar()">
        close
        </span>
    </div>
    <!-- <tgt-divider></tgt-divider> -->

    <div class="info">
      <span>Nome</span>
      <p>Maria Silva</p>
    </div>
    <tgt-divider></tgt-divider>

    <div class="info">
      <span>E-mail</span>
      <p>mariasilva.ayrtonsenna.gov</p>
    </div>
    <tgt-divider></tgt-divider>


    <div class="info">
      <span>Cargo</span>
      <p>Professor(a)</p>
    </div>
    <tgt-divider></tgt-divider>


    <div class="info">
      <span>Matéria</span>
      <p>Português</p>
    </div>
    <tgt-divider></tgt-divider>

  </main>
</tgt-modal>

