<tgt-modal [witdhModal]="'auto'">
  <main>
    <div class="header">
      <h3>Informações da Turma</h3>
      <span class="material-symbols-outlined" (click)="voltar()">
        close
        </span>
    </div>
    <!-- <tgt-divider></tgt-divider> -->

    <div class="info">
      <span>Nome</span>
      <p>8° Ano - Turma B</p>
    </div>
    <tgt-divider></tgt-divider>

    <div class="info">
      <span>Série</span>
      <p>8º ano</p>
    </div>
    <tgt-divider></tgt-divider>

    <div class="info">
      <span>Manhã</span>
      <p>Manhã</p>
    </div>
    <tgt-divider></tgt-divider>

    <div class="info">
      <span>Ano Letivo</span>
      <p>2024</p>
    </div>
    <tgt-divider></tgt-divider>
  </main>
</tgt-modal>

