<main>
  <div class="title">
    <h2>Novo Colaborador</h2>
  </div>
  <div class="form">
    <tgt-input-icon [border]="true" [placeholder]="'Nome'" [control]="form.controls.nome"></tgt-input-icon>
    <tgt-input-icon [border]="true" [placeholder]="'E-mail'" [control]="form.controls.email"></tgt-input-icon>
    <tgt-input-icon [border]="true" [placeholder]="'Matéria'" [control]="form.controls.materia"></tgt-input-icon>
    <div class="check">
      <tgt-checkbox></tgt-checkbox> Professor(a)
      <tgt-checkbox></tgt-checkbox> Secretário(a)
    </div>
  </div>
  <div class="actions">
    <tgt-button (click)="salvar()" [icon]="''" [fieldButton]="'outline'" [border]="false"
      [size]="'small'">Cancelar</tgt-button>
    <tgt-button (click)="salvar()" [icon]="'add'">Convidar</tgt-button>
  </div>
</main>
