<tgt-modal [witdhModal]="'80%'">
  <main>

    <div class="header">
      <div class="title">
        <h3>Histórico</h3>
      </div>
      <div class="actions">
        <span class="material-symbols-outlined">
          download
        </span>
        <p>Download</p>
        <span class="material-symbols-outlined">
          edit
        </span>
        <p>Editar</p>
      </div>
    </div>

    <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>

    @switch (opcaoTabSelecionada) {
      @case ('dados-escola') {
        <dados-escola></dados-escola>
      }
      @case('boletim') {
        <boletim-escolar></boletim-escolar>
      }
      @case('observacao') {
        <observacao-historico></observacao-historico>
      }


    }


    <div class="footer">
      <tgt-button (click)="fechar()" [border]="false" [color]="'primary'" [size]="'small'"
        [fieldButton]="'outline'">Fechar</tgt-button>
      <!-- <tgt-button [color]="'primary'" [fieldButton]="'field'" [icon]="'done_all'" (click)="finalizarChamada()">Finalizar Chamada</tgt-button> -->
    </div>
  </main>
</tgt-modal>
