<main>
  <section class="header">
    <div class="card">
      <img src="../../../../../../../assets/images/dashboard-turma-1.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../assets/images/dashboard-turma-2.png" alt="" srcset="">
    </div>
  </section>
  <br>
  <section class="header">
    <div class="card">
      <img src="../../../../../../../assets/images/dashboard-turma-3.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../assets/images/dashboard-turma-4.png" alt="" srcset="">
    </div>

  </section>
</main>
