<main>
  <section class="header">
    <div class="card">
      <img src="../../../../../../../assets/images/colaborador 1.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../assets/images/colaborador 2.png" alt="" srcset="">
    </div>
  </section>
  <br>
  <section class="header">
    <div class="card">
      <img src="../../../../../../../assets/images/colaborador 3.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../assets/images/colaborador 4.png" alt="" srcset="">
    </div>
    <div class="card">
      <img src="../../../../../../../assets/images/colaborador 5.png" alt="" srcset="">
    </div>
  </section>
</main>
