<tgt-modal [witdhModal]="'80%'">
  <main>

    <h3>Criar Agenda</h3>
    <tgt-divider></tgt-divider>

    <div class="evento">
      <div class="infos">
        <tgt-select [options]="optionsPerfis" (changeValue)="eventSelect($event)" [label]="'Enviar Para*'"></tgt-select>
        <div class="chips">
          @for (item of chips; track $index) {
          <chips-selects (clicked)="eventChip($event)" [_clicked]="true" [mode]="'outline'"
            [label]="item"></chips-selects>
          }
        </div>

        <tgt-select [label]="'Categoria*'" [options]="optionsCategoria"></tgt-select>

        <tgt-toggle [control]="form.controls.toggle" (changeToggle)="eventToggle($event)"
          [label]="'Agendar'"></tgt-toggle>

        @if(habilitarDatas) {

        <tgt-input-icon [border]="true" [placeholder]="'Data*'" [type]="'date'"
          [control]="form.controls.assunto"></tgt-input-icon>
        <tgt-input-icon [border]="true" [placeholder]="'Hora*'"></tgt-input-icon>
        }
      </div>
      <div class="descricao">
        <tgt-input-icon [border]="true" [placeholder]="'Assunto*'" [icon]="'description'"
          [control]="form.controls.assunto"></tgt-input-icon>
        <tgt-textarea [linhas]="20" [placeholder]="'Texto a ser enviado....'"></tgt-textarea>
      </div>
    </div>

    <div class="action">
      <tgt-button [border]="false" [color]="'primary'" [size]="'small'" (click)="agendar()"
        [fieldButton]="'outline'">Cancelar</tgt-button>
      <tgt-button [color]="'primary'" [fieldButton]="'field'" (click)="agendar()" [icon]="'add'">Agendar</tgt-button>
    </div>

  </main>
</tgt-modal>
