<tgt-modal [witdhModal]="'auto'">
  <main>
    <h3>Realizar Chamada</h3>
    <tgt-divider></tgt-divider>
    <div class="form">
      <tgt-select [label]="'Turma'"></tgt-select>
      <tgt-select [label]="'Matéria'"></tgt-select>
    </div>
    <div class="action">
      <tgt-button [border]="false" [color]="'primary'" [size]="'small'" [fieldButton]="'outline'">Cancelar</tgt-button>
      <tgt-button [color]="'primary'" [fieldButton]="'field'" [size]="'small'" (click)="abrirChamada()">Continuar</tgt-button>
    </div>
  </main>
</tgt-modal>
