<main>
  <div class="header">
    <div class="esquerdo">
      <span class="material-symbols-outlined icone" (click)="back()">arrow_back</span>
      <h3>{{this.aluno.nome}}</h3>

    </div>
    <div class="direito">
      <!-- <tgt-button [color]="'primary'" [icon]="'done_all'">Realizar chamada</tgt-button> -->
      <span class="material-symbols-outlined icone" (click)="showHideDetail()">more_vert</span>

      @if(isDetail) {

      <div class="user-detail">
        <div class="item" (click)="excluirAluno()">
          <span class="material-symbols-outlined">
            delete
          </span>
          <span class="label">Excluir Aluno</span>
        </div>
        <!-- <div class="item" (click)="informacoesAluno()">
          <span class="material-symbols-outlined">
            info
          </span>
          <span class="label">Informações do Aluno</span>
        </div>
        <div class="item" (click)="editarAluno()">
          <span class="material-symbols-outlined">
            edit
          </span>
          <span class="label">Editar Aluno</span>
        </div> -->
      </div>
      }
    </div>
  </div>

  <div class="info-usuario">
    <!-- <div class="info">
      <span>Turma:</span>
      <p>8° Ano - Turma A</p>
    </div> -->
    <div class="info">
      <span>Responsável:</span>
      <p>{{this.aluno.nomeResponsavel}}</p>
    </div>
    <div class="info">
      <span>E-mail Responsável:</span>
      <p>{{this.aluno.emailResponsavel}}</p>
    </div>
  </div>

  <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>

  @switch (opcaoTabSelecionada) {
    @case ('dashboard') {
      <aba-dashboard></aba-dashboard>
    }
    @case ('frequencia') {
      <aba-frequencia></aba-frequencia>
    }
    @case ('notas') {
      <listar-notas></listar-notas>
    }
    @case ('meritos') {
      <listar-meritos></listar-meritos>
    }
    @case ('advertencias') {
      <listar-advertencia></listar-advertencia>
    }
    @case ('ficha-medica') {
      <aba-ficha-medica></aba-ficha-medica>
    }
    @case ('historico') {
      <listar-historico></listar-historico>
    }
    @case ('dados-pessoais') {
      <dados-pessoais></dados-pessoais>
    }
  }



</main>
