<tgt-modal [witdhModal]="'90%'">
  <main>
    <div class="header">
      <div class="title">
        <h3>Lançar Notas</h3>
      </div>

      <div class="info-materia">
        <div class="materia">
          <h4>Matéria: </h4>
          <span>Lingua Portuguesa</span>
        </div>
        <div class="materia">
          <h4>Data:</h4>
          <span>29/04/2024</span>
        </div>
      </div>
    </div>

    <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>

    @switch (opcaoTabSelecionada) {
      @case ('primeiro-bimestre') {
        <h4>Criar tabela revo-grid</h4>
        <!-- <primeiro-bimestre></primeiro-bimestre> -->
      }
    }

    <div class="footer">
      <tgt-button (click)="fechar()" [border]="false" [color]="'primary'" [size]="'small'"
        [fieldButton]="'outline'">Fechar</tgt-button>
      <tgt-button (click)="fechar()" [border]="false" [color]="'primary'" [size]="'small'"
        [fieldButton]="'field'">Salvar</tgt-button>
      <!-- <tgt-button [color]="'primary'" [fieldButton]="'field'" [icon]="'done_all'" (click)="finalizarChamada()">Finalizar Chamada</tgt-button> -->
    </div>
  </main>
</tgt-modal>
