main {

  .chips-materias {
    display: flex;
    flex-wrap: wrap; // Permite quebra de linha
    gap: 12px; // Espaço entre chips
    align-items: center; // Alinhamento vertical dos chips
    max-width: 100%; // Respeita o tamanho do pai
    overflow: hidden; // Evita rolagem horizontal
  }

  .aluno-find {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0px;

    tgt-input-icon {
      width: 500px;
    }
  }

  .desktop {
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      /* Elimina os espaços entre bordas */
      /* Adiciona uma borda para visualização */

      thead {

        tr {
          .linha-superior {
            display: flex;
            justify-content: center;
            width: 100%;
          }
        }

        .presenca-falta {
          display: flex;
          justify-content: space-around;
        }
      }

      tbody {

        tr {
          td {

            .porcentagem {
              display: flex;
              justify-content: center;
              border: none;
            }
          }

          .presenca-falta {
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }

    .custom-table th,
    .custom-table td {
      padding: 16px;
      font-size: 12px;
      border-bottom: 1px solid #ddd;

      &:first-child {
        text-align: start;
        // border-bottom: 1px solid #ddd;
      }
    }

    .custom-table th {
      background-color: #F7FBF2;
    }


  }

  .mobile {
    display: none;
  }

}

@media (max-width: 1000px) {
  main {
    .aluno-find {
      tgt-input-icon {
        width: auto;
      }

      flex-direction: column-reverse;
      gap: 12px;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
      max-height: 450px;
      overflow: auto;

      .cards {
        display: flex;
        flex-direction: column;
        padding: 24px;
        border-radius: 16px;
        margin: 12px 0px;
        gap: 12px;
        background-color: #F7FBF2;

        .title {
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #181D17;
        }

        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .icone {
            padding: 12px;
            background-color: #E0E4DB;
            border-radius: 50%;
          }

          .infos {
            display: flex;
            flex-direction: column;
            gap: 12px;

            span {
              font-size: 12px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0.5px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

            }
          }

          .actions {
            display: flex;
            flex-direction: row;
            gap: 12px;

            span {
              color: #101F10;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
