<main>
  <div class="chips-materias">
    <tgt-chips (chipClicked)="eventChipSelected($event, 'Todas')" [select]="chipSelected === 'Todas'" [label]="'Todas'"></tgt-chips>
    <tgt-chips (chipClicked)="eventChipSelected($event, 'Língua Portuguesa')" [select]="chipSelected === 'Língua Portuguesa'" [label]="'Língua Portuguesa'"></tgt-chips>
    <tgt-chips (chipClicked)="eventChipSelected($event, 'Matemática')" [select]="chipSelected === 'Matemática'" [label]="'Matemática'"></tgt-chips>
    <tgt-chips [label]="'Inglês'"></tgt-chips>
    <tgt-chips [label]="'Física'"></tgt-chips>
    <tgt-chips [label]="'Química'"></tgt-chips>
    <tgt-chips [label]="'Biologia'"></tgt-chips>
    <tgt-chips [label]="'História'"></tgt-chips>
    <tgt-chips [label]="'Geografia'"></tgt-chips>
    <tgt-chips [label]="'Filosofia'"></tgt-chips>
    <tgt-chips [label]="'Sociologia'"></tgt-chips>
    <tgt-chips [label]="'Educação Física'"></tgt-chips>
    <tgt-chips [label]="'Artes'"></tgt-chips>
  </div>
  <div class="find">
    <tgt-button (click)="lancarNota()" [size]="'small'" [border]="false" [color]="'primary'" [fieldButton]="'field'" [icon]="'checklist_rtl'"
      >Lançar Nota</tgt-button>
    <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"
      [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>
  </div>
  <section class="desktop">
    <tgt-list>
      <div header class="header-list">
        <tgt-header-list>
          <tgt-header-col>Materia</tgt-header-col>
          <tgt-header-col>Período/Semestre</tgt-header-col>
          <tgt-header-col>Tipo de Avaliação</tgt-header-col>
          <tgt-header-col>Data da Avaliação</tgt-header-col>
          <tgt-header-col>Nota</tgt-header-col>
          <tgt-header-col></tgt-header-col>
        </tgt-header-list>
      </div>
      <div body class="body">
        @for (item of listaNotas; track item) {
        <tgt-item-list>
          <tgt-item-data>{{ item.materia }}</tgt-item-data>
          <tgt-item-data>{{ item.periodo }}</tgt-item-data>
          <tgt-item-data>{{ item.tipoAvaliacao }}</tgt-item-data>
          <tgt-item-data>{{ item.dataAvaliacao }}</tgt-item-data>
          <tgt-item-data>{{ item.nota }}</tgt-item-data>
          <tgt-item-data>
            <span class="material-symbols-outlined icone" (click)="verNota()">search</span>
          </tgt-item-data>
        </tgt-item-list>
        }
      </div>
    </tgt-list>
  </section>
  <section class="mobile">
    @for (item of listaNotas; track item) {
    <div class="cards">
      <div class="title">{{item.materia}}</div>
      <div class="content">
        <div class="infos">
          <span>{{item.periodo}}</span>
          <span>{{item.nota}}</span>
        </div>
        <div class="actions">
          <span class="material-symbols-outlined icone" (click)="verNota()">arrow_forward</span>
        </div>
      </div>
    </div>
    }
  </section>
</main>
